<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>WarehouseManagementMyBatis</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>BuyinServlet</servlet-name>
    <servlet-class>com.serverlet.BuyinServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyinServlet</servlet-name>
    <url-pattern>/admin/BiServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.serverlet.LoginServerlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LiServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginoutServlet</servlet-name>
    <servlet-class>com.serverlet.LoginoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginoutServlet</servlet-name>
    <url-pattern>/admin/LoServlet</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>ZhuceServerlet</servlet-name>
    <servlet-class>com.serverlet.ZhuceServerlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ZhuceServerlet</servlet-name>
    <url-pattern>/admin/ZhuceServerlet</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>CharEncodingFilter</filter-name>
    <filter-class>com.filter.CharEncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CharEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/admin/*</url-pattern>
  </filter-mapping>
</web-app>